<form id="form-contact" action="#" method="post">
  <div>
    <h1>
      Preencha o formulário e receba 
      um contato em menos de <span class="emphasis" >24 horas</span> <em>(Seg-Sex*)</em>
    </h1>
  </div>
  
  <input type="text" id="nome" name="nome" placeholder="Nome *" required>

  <input type="email" id="email" name="email" placeholder="Email *" required>

  <label for="telefone">Telefone*</label>
  <input type="tel" id="telefone" name="telefone" required>

  

  <button type="submit">Fale com um especialista</button>
  <p>Prometemos não utilizar suas informações de contato para enviar qualquer tipo de SPAM.</p>
</form>
