@import '../styles/_variables.scss';


#content{
  display: flex;
  align-items: center;
  justify-content: center;
  
  max-width: 1900px;
  height: 90vh;
  margin: auto;
  

}
.software-house-content{
  width: 50%;
  font-size: 2.6em;
  max-width: 750px;
  padding: 20px;
}
.software-house-content p{
  font-size: 0.7em;
}
.startup-revenue{
  display: flex;
  margin-top: 80px;
}
.startup-revenue-counter{
  width: 100%;
  font-size: 0.8em;
  margin: 15px;
}
.startup-revenue-counter p {
  font-size: 0.5em;
}



.emphasis{
  color: $primary-color;
}


#shadow {
  border-radius: 50%; 
  position: absolute;  
  z-index: -1; 
}

.shadow-top{
  top: 15%; 
  left: 30%;
  opacity: 0.4; 
  transform: translate(-50%, -50%); 
  box-shadow: 0px 0px 300px 300px rgb(55, 27, 70);
}

.shadow-bottom{
  top: 60%; 
  left: 80%;
  transform: translate(-50%, -50%); 
  box-shadow: 0px 0px 300px 200px rgb(55, 27, 70);
}
.shadow-section{
  top: 130%; 
  left: 30%;
  transform: translate(-50%, -50%); 
  box-shadow: 0px 0px 300px 300px rgb(55, 27, 70);
}
.shadow-card1{
  top: 190%; 
  left: 80%;
  transform: translate(-50%, -50%); 
  box-shadow: 0px 0px 300px 300px rgb(55, 27, 70);
}
.shadow-card1-white{
  top: 220%; 
  left: 20%;
  transform: translate(-50%, -50%); 
  box-shadow: 0px 0px 200px 100px rgb(88, 85, 86);
}

.shadow-bottom-white{
  top: 90%; 
  left: 40%;
  transform: translate(80%, 10%); 
  box-shadow: 0px 0px 200px 100px rgb(88, 85, 86);
}

#section{
  width: 100%;
  margin: auto;
  
  height: 400px;
  background-color: $gray-100;
  
}
#section h1 {
 
  text-align: center;
  color: $gray-600;
  font-weight: normal;
  font-size: 2.5em;
  padding: 15px;
}

.section-svg{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}
.section-svg img {  
  margin: 10px;
}

.section-content{
  max-width: 1400px;
  margin: 50px auto 50px auto;
  padding: 15px;
}
.section-content h4{
  font-size: 1.5em;
  font-weight: normal;
}
.section-content h1{
  font-size: 3em;
  margin-bottom: 50px;
  max-width: 800px;
}

.content-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.card{
  width: 400px;
  height: 500px;
  background-color: $gray-900;
  margin: 10px;
  border-radius: 25px;
}
.card h1{
  font-size: 1.5em;
}
.title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.title-card h1{
  color: $primary-color;
}
.text-card-content{
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}

.card1{
  width: 400px;
  height: 300px;
  background: linear-gradient(135deg, #2DA48A, #329991, #4875A8, #904FBF);
  margin: 10px;
  border-radius: 25px;
  font-size: 0.7em;
}
.card1 .text-card-content h1 {
  font-size: 1.5em;
}
.card1 .text-card-content p {
  font-size: 1.3em;
  font-weight: normal;
}
