<app-navbar></app-navbar>
<main id="content">
  <div id="shadow" class="shadow-top"></div>
  <div class="software-house-content">
    <h1>A software house que entende de <span class="emphasis">negócios</span></h1>
    <p>
      Unimos a visão da sua empresa à nossa expertise em <span style="font-weight: bold;">desenvolvimento 
      de software e estratégias de negócios</span> 
      para alcançar resultados extraordinários.
    </p>
    <div class="startup-revenue">
      <div class="startup-revenue-counter" >
        <h1>130mi</h1>
        <p>Arrecadados por startups que ajudamos a construir</p>
      </div>
      <div class="startup-revenue-counter">
        <h1>+100</h1>
        <p>Projetos desenvolvidos</p>
      </div>
      <div class="startup-revenue-counter">
        <h1>+10</h1>
        <p>Anos de experiência</p>
      </div>
    </div>
  </div>

    <app-contact></app-contact>
  
  <div id="shadow" class="shadow-bottom-white"></div>
  <div id="shadow" class="shadow-bottom"></div>

</main>

