<app-navbar></app-navbar>
<div id="shadow" class="shadow-top"></div>
<main id="content">
  
  <div class="software-house-content">
    <h1>Transformando sua visão em <span class="emphasis">sucesso</span></h1>
    <p>Como Engenheiro de Software, alinho a visão da sua empresa com minha experiência em <span style="font-weight: bold;">soluções inovadoras e estratégias eficazes</span> para gerar resultados excepcionais e personalizados.</p>

    <div class="startup-revenue">
      <div class="startup-revenue-counter" >
        <h1>+50</h1>
        <p>Clientes satisfeitos</p>
      </div>
      <div class="startup-revenue-counter">
        <h1>+100</h1>
        <p>Projetos desenvolvidos</p>
      </div>
     
      <div class="startup-revenue-counter">
        <h1>+10</h1>
        <p>Anos de experiência</p>
       
      </div>
      
    </div>
   
  </div>
  <app-contact></app-contact>
  
  
  <div id="shadow" class="shadow-bottom-white"></div>
  <div id="shadow" class="shadow-bottom"></div>
  
</main>

<section id="section">
  <div id="shadow" class="shadow-section"></div>
  <h1>Nossas principais tecnologias</h1>
  <div class="section-svg">
    <img src="../assets/icon/aws.svg" alt="aws">
    <img src="../assets/icon/azure.svg" alt="azure">
    <img src="../assets/icon/android.svg" alt="aws">
    <img src="../assets/icon/ios.svg" alt="aws">
    <img src="../assets/icon/angular.svg" alt="aws">
    <img src="../assets/icon/flutter.svg" alt="aws">
    <img src="../assets/icon/react.svg" alt="aws">
    <img src="../assets/icon/vuejs.svg" alt="aws">
    <img src="../assets/icon/postgrees.svg" alt="aws">
    <img src="../assets/icon/nodejs.svg" alt="aws">
    <img src="../assets/icon/figma.svg" alt="aws">
  </div>
</section>
<section class="section-content">
  <div>
    <h4>Desenvolvimento de produtos digitais em <span style="font-weight: bold;">3 ETAPAS: </span></h4>
    <h1>
      Da descoberta ao lançamento
      do seu software ou app
    </h1>
    <div class="content-card">
      <div class="card">
        <div class="title-card">
          <img src="../assets/icon/search-icon.svg" alt="">
          <h1>01</h1>
        </div>
        <div class="text-card-content">
          <h1>DISCOVERY</h1>
          <p>
            <span style="font-weight: bold;">Tenha um mapa para produtos digitais de forma estratégica e técnica</span> com: 
            pesquisas, ideação, product canvas, mapas de jornada, protótipos, proposta de valor, 
            user flow e roadmap do produto para que sejam viáveis e funcionem no mundo real.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="title-card">
          <img src="../assets/icon/person-add-icon.svg" alt="">
          <h1>02</h1>
        </div>
        <div class="text-card-content">
          <h1>PRODUCT CONCEPT</h1>
          <p>
            Interfaces atrativas que conquistam com identidade visual impactante (UX/UI).
            Tenha protótipos navegáveis, mockups, biblioteca de estilos, guia de aplicação técnica, 
            métricas e testes de usabilidade, criando experiências que destacam produtos, convertem 
            e retêm usuários.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="title-card">
          <img src="../assets/icon/tool-icon.svg" alt="">
          <h1>03</h1>
        </div>
        <div class="text-card-content">
          <h1>BUILD</h1>
          <p>
            Construa um produto digital focado em resultados, com entregas rápidas e funcionais, prontas para testes com usuários.
            Criamos MVPs, app mobile ou software web e desktop, unindo a expertise necessária 
            com o compromisso de superar expectativas, seja para fazer produtos do zero ou 
            para evoluir um já existente.
          </p>
        </div>
      </div>
    </div>
    <div><br>
      <h1>Outro serviços</h1>
      <div class="content-card">
        <div class="card1">
          <div class="title-card">
            <img src="../assets/icon/group.svg" alt="">
            
          </div>
          <div class="text-card-content">
            <h1>ALOCAÇÃO DE SQUAD</h1>
            <p>
              Talentos de alta performance para acelerar projetos com boas práticas e novos conhecimentos.
            </p>
          </div>
        </div>
        <div class="card1">
          <div class="title-card">
            <img src="../assets/icon/chat.svg" alt="">
            
          </div>
          <div class="text-card-content">
            <h1>CONSULTORIA TÉCNICA</h1>
            <p>
              Especialistas em avaliação, documentação e plano de ação técnico para produtos digitais e infraestrutura.
            </p>
          </div>
        </div>
        <div class="card1">
          <div class="title-card">
            <img src="../assets/icon/network.svg" alt="">
            
          </div>
          <div class="text-card-content">
            <h1>DESIGN DE SERVIÇO</h1>
            <p>
              Desenho de Serviços para processos operacionais mais enxutos e experiências cativantes.
            </p>
          </div>
        </div>
        <div id="shadow" class="shadow-card1"></div>
        <div id="shadow" class="shadow-card1-white"></div>
      </div>
    </div>
  </div>

</section>
<br><br><br><br><br><br><br>