@import 'styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: $background-color;
  color: $white;
}

.emphasis{
  color: $primary-color;
}


